<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin page</title>
</head>
<body>
  <form method="post"  enctype="multipart/form-data">
    <input type="file" id="pptx" name="pptx">
    <button>Submit</button>
  </form>
  <h2>Read this carefully! This is the timestamp when a runner was seen. If that value is too old (more than 10 seconds), it means the runner is not running</h2>
  <h3><%= lastseen %></h3>
  <img style="width: 720px; height: auto;" src="/api/current-pptx.jpg" alt="Current pptx being loaded...">
</body>
</html>
